### Node ###
# Logs
logs
*.log

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo
coverage/

### macOS ###
# General
.DS_Store

# Added by cargo

/target
Cargo.lock

*.node

# Ignore package locks
package-lock.json

# Ignore the GH cli downloaded by workflows
gh

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml
